:root {
    --tg-theme-bg-color: #fff;
    --tg-theme-text-color: #0a0a0a;
    --tg-theme-hint-color: #929292;
    --tg-theme-link-color: #207ae4;
    --tg-theme-button-color: #5bc8fb;
    --tg-theme-button-text-color: #fffeec;
    --tg-theme-secondary-bg-color: #f3f2f9;

    --default-font: 'Gilroy', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
}

body {
    background: #1A1B21;
    padding: 0;
    margin: 0;
    font-family: 'Gilroy', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loader {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loader img {
    width: 40px;
    height: 40px;
}

.loader .loader-text {
    margin-top: 40px;
    color: #B8BBC3;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

#desktop_block, #usercard_desk {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 100%;
    height: 100vh;
}

.qr_image {
    max-width: calc(100% - 40px);
    margin: 20px 0;
}

#usercard{
    text-align: center;
}

.email-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0 0;
}

.email-wrapper .email-top {
    border-radius: 16px;
    border: 1px solid #44474C;
    background: #21232A;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 305px);
    flex-direction: column;
    padding: 44px;
    margin: 0 20px 17px;
    width: calc(100% - 40px);
}

.email-wrapper .email-top .email-desc {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
}
.email-wrapper .email-top img {
    margin-bottom: 24px;
    height: 100px;
    width: 100px;
}

.email-wrapper .email-medium {
    width: 100%;
    padding: 0 24px;
    margin-bottom: 24px;
    color: #B8BBC3;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.email-wrapper .email-bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 24px 50px;
    background: linear-gradient(180deg, rgba(155, 122, 255, 0.00) 0%, rgba(155, 122, 255, 0.20) 100%);
}

.email-wrapper .email-bottom .email-input {
    display: flex;
    width: calc(100% - 48px);
    height: 52px;
    padding: 16px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 12px;
    background: #2C2E37;
    overflow: hidden;
    color: #fff;
    text-overflow: ellipsis;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    margin: 0 auto 32px;
    border: none;
    outline: none;
}

.email-wrapper .email-bottom .email-input.error {
    border: 1px solid red;
}

.email-wrapper .email-bottom .email-input::placeholder {
    color: #424652;
    text-overflow: ellipsis;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.email-wrapper .email-bottom .email-button {
    display: flex;
    width: 100%;
    padding: 16px 48px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: #FFF;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    border-radius: 16px;
    background: #9B7AFF;
}
